header{
    display: flex;
    justify-content: space-around;
    z-index: 1;
    position: sticky;
    width: 100%;
    top: 0px;
    background-color:rgb(6, 6, 32)
}

#Top{
    float: right;
    position: fixed;
}

header img {
    vertical-align: middle;
    margin: 1%;
    
}

#logo {
    float: left;
}

header .HeaderNav {
    display: flex;
    justify-content: space-between;
    margin: 1% ;
    text-decoration: none;
    font-size: x-large;
   
  
}

header ul {

    text-decoration: none;

    vertical-align: middle;
    width: 25%;
}

header ul li {
    padding: 0% 10%;
    list-style-type: none;
    display: inline;
    vertical-align: middle;
}

header a {
    display: flex;
    color: rgb(168, 166, 166);
    text-decoration: none;
    vertical-align: middle;
    margin: 0% 2%;
    font-family: 'Courier New', Courier, monospace;
 
    display: inline-block;
    position: relative;

    
}

header a:hover {
    color: rgb(255, 255, 255);  
}

header a:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    color: rgb(255, 255, 255);
    background-color: rgb(255, 255, 255);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }

header a:hover:after {
    color: rgb(255, 255, 255);
    transform: scaleX(1);
    transform-origin: bottom left;
    
}

.HeaderList{
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}

#IntroHeader{
    background-color: black;
    padding: 5% 0 ;
    background-image: url("../images/ferenc-almasi-eYpcLDXHVb0-unsplash.jpg");
    background-size: 100% 200%;
    
}

#IntroName {
    background-color: rgba(5, 1, 51, 0.74);
    border: 15px white groove;
    margin: 5% 35%;
    text-align: center;
}

#NameContainer{
    color: #39ff14;
    padding: 5% 10%;
    font: bolder;
}

#MainName {
    font-family: 'Courier New', Courier, monospace;
    font-size: xx-large;
    font-weight: bolder;
}

section{
    margin: 2% 10%;
    padding: 1% 5%;
   
}

section ul{
    font-family: 'Courier New', Courier, monospace;
    display: block;
    list-style-type:'> ' ;
    
}

section h1{
    font-family: 'Courier New', Courier, monospace;
    font-weight: 2000;
}

section img {
    float:right;
}

section {
    color: whitesmoke;
    border: 5px whitesmoke solid ;
    border-radius: 25px;
    background-color: rgb(5, 5, 56);
    z-index: 1;
}

body {
    background-color:rgb(6, 6, 32);
}

#Contact{
    text-align: center;
}

#ContactForm{
    align-items: center;
    margin: auto;
    width: 40%;
    color: #39ff14;
}

/* Language Section */

#Languages {
    margin: 5% 20%;
    border: 3px whitesmoke solid;
   
}

#Languages i{
    height: 100px;
}

#Languages ul li {
    display: inline;
}

#Languages p {
    margin: 5% 25%;
    margin-top: 20px;
}

.flex-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2%;
    height: 500px;
    flex-wrap: wrap;
    height: fit-content;
}

.flex-item p{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.attr{
    color: red;
}

.var{
    color: orange;
}
