body{
    margin: 0px;
    padding: 0px;
}
*{
    font-family: 'Courier New', Courier, monospace;
}
header{
    display: flex;
    justify-content: space-around;
    z-index: 1;
    position: sticky;
    width: 100%;
    top: 0px;
    background-color:rgba(6, 6, 32, 0.911);

    
}

#Top{
    float: right;
    position: fixed;
}

header img {
    vertical-align: middle;
    margin: 1%;
    
}

#logo {
    float: left;
}

/* HEADER NAV */



header .HeaderNav {
    display: flex;
    justify-content: space-between;
    margin: 1% ;
    text-decoration: none;
    font-size: x-large;
   
  
}

header ul {

    text-decoration: none;

    vertical-align: middle;
    width: 25%;
}

header ul li {
    padding: 0% 10%;
    list-style-type: none;
    display: inline;
    vertical-align: middle;
}

header a {
    display: flex;
    color: rgb(168, 166, 166);
    text-decoration: none;
    vertical-align: middle;
    margin: 0% 2%;
    font-family: 'Courier New', Courier, monospace;
 
  
    position: relative;

    
}

header a:hover {
    color: rgb(255, 255, 255);  
}

header a:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    color: rgb(255, 255, 255);
    background-color: rgb(255, 255, 255);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }

header a:hover:after {
    color: rgb(255, 255, 255);
    transform: scaleX(1);
    transform-origin: bottom left;
    
}

.HeaderList{
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}
@media (max-width: 481px){
    header a{
        display: none;
    }
}



#IntroHeader{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    padding: 5% 0 ;
    background-image: url("../images/ferenc-almasi-eYpcLDXHVb0-unsplash.jpg");
    background-size: 100% 200%;
    
}

#IntroName {
    background-color: rgba(5, 1, 51, 0.74);
    border: 15px white groove;
    padding: 0% 2%;
    text-align: center;
}

#NameContainer{
    color: #39ff14;
    padding: 5% 10%;
    font: bolder;
}

#MainName {
    font-family: 'Courier New', Courier, monospace;
    font-size: xx-large;
    font-weight: bolder;
}

#AboutMe-container{
    border: 1px white solid;
    padding: 3%;
    background-color: rgb(5, 5, 56);
}

section{
    margin: 2% 10%;
    padding: 5% 5% 0% 5%;
   
}

#AboutMe-container ul{
    font-family: 'Courier New', Courier, monospace;
    display: block;
    list-style-type: none ;
    
}

#AboutMe-container ul li::before {
    content: ">";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
    color: #39ff14; /* Change the color */
    font-weight: bold; /* If you want it to be bold */
    display: inline-block; /* Needed to add space between the bullet and the text */
    width: 1em; /* Also needed for space (tweak if needed) */
    margin-left: -1em; /* Also needed for space (tweak if needed) */
  }

section h1{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 2000;
}

section img {
    float:right;
}



section {
    color: whitesmoke;

}

body {
    background-color:rgb(6, 6, 32);
}

#Contact{
    text-align: center;
}

#ContactForm{
    align-items: center;
    margin: auto;
    width: 40%;
    color: #39ff14;
}

/* Language Section */
#Languages img{
    transition: all 1s;
}

#Languages img:hover{
    transform: scale(1.3);
}

@media (min-width: 481px){
    #Languages {
        margin: 0% 20%;

    
    }

    #Languages img{
        height: 100px;
    }

    #Languages ul li {
        display: inline;
    }


    .flex-container{
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 2%;
        height: 500px;
        flex-wrap: wrap;
        height: fit-content;
        border: 1px white solid;
        padding: 3%;
        background-color: rgb(5, 5, 56);
    }
}

@media (max-width: 480px){
    #Languages {
        margin: 0% 20%;

    
    }
    #Languages img{

        height: 75px;

    }

    #Languages ul li {
        display: inline;
    }

    #Languages p {
        margin: 5% 25%;
        margin-top: 20px;
    }

    .flex-container{
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 2%;
        height: 500px;
        flex-wrap: wrap;
        height: fit-content;
    }
}
.flex-item p{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.attr{
    color: red;
}

.var{
    color: orange;
}

#project-container{
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(3, 400px);
    gap: 2%;
}


.project{
    border: 1px white solid;
    padding: 3%;
    background-color: rgb(5, 5, 56);
}

#Contact a{
    color: white;
}

#Contact a:hover{
    color: rgb(175, 175, 175);
}

#Contact-container{
    display: flex;
    justify-content: center;
    gap: 1%;
}

#language-container {
    justify-content: center;
    padding: 0px;
    display: flex;
    list-style-type: none;
    flex-wrap: nowrap;
    color: rgb(209, 209, 209);
    gap: 2%;
}

