body{
    margin: 0px;
    padding: 0px;
}

/* ul:not(.browser-default)>li {
    list-style-type: disc;
    padding-left: 0%;
} */

*{
    font-family: 'Courier Prime', monospace;
    font-size: medium;
}
header{
    display: flex;
    justify-content: space-around;
    z-index: 1;
    position: sticky;
    width: 100%;
    top: 0px;
    background-color:rgba(6, 6, 32, 0.911);

    
}

#Top{
    float: right;
    position: fixed;
}

header img {
    vertical-align: middle;
    margin: 1%;
    
}

#logo {
    float: left;
}

/* HEADER NAV */



header .HeaderNav {
    display: flex;
    justify-content: space-between;
    margin: 1% ;
    text-decoration: none;
    font-size: x-large;
   
  
}

header ul {

    text-decoration: none;

    vertical-align: middle;
    width: 25%;
}

header ul li {
    padding: 0% 10% ;
    list-style-type: none;
    display: inline;
    vertical-align: middle;
}

header a {
    display: flex;
    color: rgb(168, 166, 166);
    text-decoration: none;
    vertical-align: middle;
    margin: 0% 2%;

 
  
    position: relative;

    
}

header a:hover {
    color: rgb(255, 255, 255);  
}

header a:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    color: rgb(255, 255, 255);
    background-color: rgb(255, 255, 255);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }

header a:hover:after {
    color: rgb(255, 255, 255);
    transform: scaleX(1);
    transform-origin: bottom left;
    
}

.HeaderList {
    display: flex !important; 
    justify-content: space-between !important;
    flex-wrap: nowrap !important;
}
@media (max-width: 481px){
    header a{
        display: none;
    }
}



#IntroHeader{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    padding: 5% 0 ;
    background-image: url("../images/ferenc-almasi-eYpcLDXHVb0-unsplash.jpg");
    background-size: 100% 200%;
    
}

#IntroName {
    background-color: rgba(5, 1, 51, 0.74);
    border: 15px white groove;
    padding: 0% 2%;
    text-align: center;
}

#IntroName button {
    padding: 4% 10%;
    font-size: 25px;
    margin: 0% 0% 5% 0%;
    background: transparent;
    color: #39ff14;
    border: 2px #39ff14 solid;
    z-index: 2;
}

#IntroName button:hover {
    background-color: #39ff14;
    color:rgb(5, 1, 51);

}

#NameContainer{
    color: #39ff14;
    padding: 5% 10%;
    font: bolder;
}

#MainName {

    font-size: xx-large;
    font-weight: bolder;
}

#AboutMe-container{
    display: grid;  
    grid-template-columns: repeat(2, 50%);
    border: 1px white solid;
    padding: 3%;
    background-color: rgb(5, 5, 56);
}

section{
    margin: 2% 10%;
    padding: 5% 5% 0% 5%;
   
}

#AboutMe-container ul{

    display: block;
    list-style-type: none ;
    
}

#AboutMe-container ul li::before {
    content: ">";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
    color: #39ff14; /* Change the color */
    font-weight: bold; /* If you want it to be bold */
    display: inline-block; /* Needed to add space between the bullet and the text */
    width: 1em; /* Also needed for space (tweak if needed) */
    margin-left: -1em; /* Also needed for space (tweak if needed) */
  }

section h4{
    text-align: center;

    font-weight: 2000;
}

section img {
    float:right;
}



section {
    color: whitesmoke;

}

body {
    background-color:rgb(6, 6, 32);
}

#Contact{
    text-align: center;
}

#ContactForm{
    align-items: center;
    margin: auto;
    width: 40%;
    color: #39ff14;
}

/* Language Section */
#Languages img{
    transition: all 1s;
}

.language-header{
    display: flex;
    justify-content: center;
}




#Languages {
    padding: 0.5rem;
}

#Languages img{
    height: 7rem;
}

#Languages ul li {
    display: inline;
}




.skill-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, 7rem);
    justify-content: center;
    grid-gap: 1rem;
    gap: 1rem;
}

.skill-item p{
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 1rem;
}
.skill-item{
    display: grid;
    border: 1px white solid;
    padding: 1%;
    background-color: rgb(5, 5, 56);
}

.attr{
    color: red;
}

.var{
    color: orange;
}


/* Projects Section */



#project-container{
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, 400px);
    gap: 2%;
    min-height: 0;
    min-width: 0;
}

.projectHeader      {grid-area: projectHeader}
.projectImage       {grid-area: projectImage}
.projectFeature     {grid-area: projectFeature}
.projectDesc        {grid-area: projectDesc}
.projectLanguage    {grid-area: projectLanguage}

.project{
    
    display: grid;
    border: 1px white solid;
    overflow: hidden;
    min-width: 0;
    background-color: rgb(5, 5, 56);
    grid-template:  "projectHeader"
                    "projectImage"
                    "projectFeature"
                    "projectDesc"
                    "projectLanguage"
}
.projectImage{
   height:  150px;
   width:   398px;
    
}

.feature {
    list-style-type: disc !important;
}

.projectLanguage {
    justify-content: center;
    padding: 0px;
    display: flex;
    list-style-type: none;
    flex-wrap: nowrap;
    color: rgb(209, 209, 209);
    gap: 2%;
}

.collapsible-header{
    background-color: rgb(5, 5, 56);
}



.projectDesc{
    margin: 1% 2%;
}

.projectLanguage li{
    list-style-type: none !important;
}

.projectHeader{
    text-align: center;
}

/* Contact Section */
#Contact a{
    color: white;
}

#Contact a:hover{
    color: rgb(175, 175, 175);
}

#Contact-container{
    display: flex;
    justify-content: center;
    gap: 3%;
}




